html,body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	/*background-image: url("http://localhost/Projet/images/vampire.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #d8d8d8;
	display: table;
	width: 100%;
}

/* HEADER */

header{
	background-color: #252525;
}

.header-menu ul{
	margin-bottom: 0px;
}

.logo{

display: inline-block;
margin-left: 50px;
}

.logo a{

text-decoration: none;
color: white;
}

.search{

	display: inline-block;
	margin-left: 200px;
}

.header-menu li{
	display: inline-block;
	border: 2px solid black;
}

.suggest{
	position: fixed;
	top: 10px;
	right: 50px;
	background-color: #F5BE0A;
}

/* END of HEADER */

/* Main content of each page */

.main-content{
	float: left;
	width: 60%;
	margin-left: 50px;
	margin-top: 20px;
	border: 1px solid black;

}

/* End main content */

/* Right side of site */

aside{
float: right;
margin-right: 50px;
width: 20%;
margin-top: 20px;
border: 1px solid black;
}

/*  End of right side */

/* Series */

.series h3{
	display: inline-block;
}

.series .filter{
	display: inline-block;
}

.each-serie{
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}

.pagination{
	text-align: center;
}

.pagination a{
	color: black;
}

/*End of series */

/* FOOTER */

footer{
	text-align: center;
	background-color: #252525;
	display: table-row;
	height: 100px;
}

.footer-site{
	display: inline-block;
	text-align: left;
	width: 30%;
}

.footer-site p{
	color: white;
	font-size: 14px;
	margin: 0px;
}

.footer-site h1{
	color: white;
	margin: 8px;
	margin-left: 0;
}

.footer-social{
	display: inline-block;
	border-right: 1px solid #6e6e6e;
	border-left: 1px solid #6e6e6e;
	width: 20%;
	vertical-align: top;
}

.footer-social h3{
	color: white;
	margin-top: 10px;
}

.footer-social a{
	display: inline-block;
	background-color: #343434;
	border: 1px solid #343434;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
}

.footer-social i:hover{
	color: white;
}

.footer-social i{
	color: #b0b1b4;
	font-size: 25px;
	margin-top: 8px;
}

.footer-info h3{
	color: white;
	margin-top: 10px;
}

.footer-info{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.footer-info li{
	color: white;
	display: inline-block;
	list-style: none;
}

.footer-info li a{
	color: #b0b1b4;
	text-decoration: none;
}

.footer-info li a:hover{
	color: white;
}

/* END of FOOTER */ 